#history-requests {
  font-size: 14px;
  line-height: 12px;
}
#history-requests .requestNum {
  vertical-align: top;
  font-size: 12px;
  margin-left: -5px;
}
#history-requests ul{
  margin-left: 0px;
}
#history-requests ul li
{
  list-style-type: none;
  margin-bottom: 15px;
  padding: 10px 19px;
}
#history-requests .loading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#history-requests .history-button {
  float: right;
}
#history-requests div.history-title {
  font-size: 16px;
}
#history-requests div.history-details {
  margin: 5px 0;
}
#history-requests div.indented {
  overflow: auto;
  margin-left: 30px;
}
#history-requests .lastAccess {
  font-size: 11px;
  color: #666;
}
#history-requests .history-label {
  text-align: left;
  font-weight: bold;
}
#history-footer .backtotop {
  width: 100%;
  text-align: right;
}
#history-sidebar {
  background-color:rgba(0, 0, 0, 0.2);
  z-index:1038;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  overflow: none;
}
#history-sidebar-inner {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -337px;
  width: 674px;
  background: #fff;
  height: 100%;
  z-index: 1039;
  -webkit-box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.history-sidebar-scrollbar {
  position: absolute;
  height: 100%;
  width: 15px;
  right: 0;
  top: 0;
  z-index: 1039;
  overflow: none;
}
.history-sidebar-scrollbar .scrollbg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15px;
  z-index: 1;
  background: url(chrome://restclient/content/images/scrollbarbg.gif) repeat-y
}
.history-sidebar-scrollbar .scrollbar-slider {
  position: absolute;
  display: block;
  padding-bottom: 4px;
  height: 4px;
  width: 8px;
  right: 3px;
  top: 0;
  cursor: move;
  z-index: 2;
  background: url(chrome://restclient/content/images/scrollbarbottom.gif) 50% bottom no-repeat #c2c2c2
}
.history-sidebar-scrollbar .scrollbar-slider .ss-top {
  height: 4px;
  background: url(chrome://restclient/content/images/scrollbartop.gif) 50% top no-repeat #c2c2c2
}
.history-sidebar-scrollbar .scrollbar-slider:hover {
  background: url(chrome://restclient/content/images/scrollbarbottomh.gif) 50% bottom no-repeat #aeaeae
}
.history-sidebar-scrollbar .scrollbar-slider:hover .ss-top {
  background: url(chrome://restclient/content/images/scrollbartoph.gif) 50% top no-repeat #aeaeae
}